@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00b7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 40vh;
}

nav > .news-navigation {
  height: 15%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav > .news-navigation > .blur-left {
  height: 100%;
  width: 25%;
  background-color: #ca336b;
}

nav > .news-navigation > .blur-right {
  height: 100%;
  width: 25%;
  background-color: #ca336b;
}

.nav-about-school {
  height: 65%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-school-logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}

.nav-school-logo img {
  /* background-color: red; */
  width: 60%;
  height: 80%;
  object-fit: contain;
}

.nav-school-info {
  width: 60%;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.nav-school-info > .nav-school-name {
  font-size: 1.5rem;
}

.nav-school-info > .nav-school-address {
  font-weight: 200;
  font-size: 1.2rem;
}

.nav-school-address h2 {
  font-weight: 400;
}

.nav-social-link-container {
  width: 20%;
  height: 100%;
  background-color: blue;
}
nav > .nav-menu {
  display: flex;
  color: white;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  background-color: #28166f;
  padding: 0px 0px;
}

nav > .nav-menu > .nav-link-container {
  display: flex;

  gap: 65px;
  height: 100%;
  font-size: 1.2rem;
  align-items: center;
  font-weight: 400;
  margin-right: 18vw;

  width: fit-content;
}

.login-btn button {
  padding: 12px 45px;
  border: none;
  border-radius: 35px;
  color: white;
  background-color: #db2d1c;
  font-size: 1.2rem;
}
.nav-link-container > .nav-link {
  display: inline;
  height: fit-content;
}

.Hero-page1 h1 {
  font-size: 2.1rem;
  font-weight: 800;
}

.Hero-page1 {
  height: 80vh;
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  /* background-color: green; */
}

.Hero-page1 h2 {
  font-size: 1.7rem;
  font-weight: 800;
}

.Hero-page1 button {
  padding: 20px 20px;

  margin-top: 20px;
  border: none;
  font-size: 1rem;
}

/* .Hero-page1 button {
  padding: 20px 20px;
  margin-top: 20px;
  border: none;
  font-size: 1.2rem;
} */

.Hero-page1 p {
  margin-top: 25px;
  font-size: 1rem;
  color: rgb(149, 148, 148);
}

.Hero-page1-left {
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#typed {
  /* font-size: 2.5rem;
   */
  font-weight: 800;
}

.Hero-page1-right {
  width: 100%;

  height: 100%;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(106, 187, 187); */
  display: flex;
  flex-direction: column;
}

.Hero-page1-right img {
  width: 80%;
  height: 80%;
}

.about-page2 {
  height: 150vh;
  width: 100vw;
  /* background-color: red; */
}

.about-page2 .popular-companies-logo {
  width: 100%;
  height: 12vh;
  /* background-color: black; */

  align-items: center;
  padding: 0px 60px;
  justify-content: center;
  display: flex;
  gap: 65px;
}

.popular-companies-logo .compaine-logo {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popular-companies-logo .compaine-logo img {
  width: 50%;
  height: 90%;
  object-position: center;
  object-fit: contain;
}

.about-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 7.5vh;
  height: 100%;

  flex-direction: column;
}

.about-container .about {
  display: flex;
  width: 80%;
  height: 80%;

  flex-direction: column;
  gap: 35px;
}

.about-container .about p {
  text-align: center;
  font-size: 0.9rem;
}

.about-container .about {
  text-align: center;
  margin-top: 3vh;
}

.about-container .about-img {
  height: 29%;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .swiper-slide img {
    display: block;
    width: 50%;
    height: 100%;
    object-fit: contain;
    border-radius: 0%;
    object-position: center;
  }

  .Hero-page1 {
    height: 107vh;
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
  }

  .Hero-page1 h1 {
    font-size: 3rem;
    font-weight: 800;
  }

  .Hero-page1-left {
    width: 90%;
    height: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Hero-page1 p {
    margin-top: 25px;
    font-size: 1.2rem;
    color: rgb(149, 148, 148);
  }
}

@media screen and (max-width: 768px) {
  .Hero-page1 {
    display: flex;
    /* flex-direction: column-reverse; */
    width: 100vw;
    /* background-color: red; */
  }
}

/* Styles for desktops and larger screens */
@media screen and (min-width: 1024px) {
  .Hero-page1 {
    height: 80vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* background-color: rgb(26, 187, 173); */
  }

  .Hero-page1-left {
    width: 50%;
    height: 100%;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Hero-page1-right {
    width: 50%;
    height: 100%;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Hero-page1 h1 {
    font-size: 3rem;
    font-weight: 800;
  }

  .about-container .about {
    display: flex;
    width: 50%;
    height: 80%;
    flex-direction: column;
    gap: 35px;
  }

  .about-container .about p {
    text-align: center;
    font-size: 1.2rem;
  }

  .about-container .about-img {
    height: 100%;
    width: 100%;
  }
}

/* Styles for desktops and larger screens */
@media screen and (min-width: 1398px) {
  .Hero-page1 h1 {
    font-size: 4rem;
    font-weight: 800;
  }

  .about-container .about {
    display: flex;
    width: 35%;
    height: 80%;
    flex-direction: column;
    gap: 35px;
  }
}

/* Contact Page */

.contact-page1 {
  height: 100vh;
  display: flex;
  align-items: center;

  justify-content: center;
  width: 100vw;
}

.contact-form {
  width: 50%;
  height: 90%;
  display: flex;
  position: absolute;
  top: 50%;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact-form-left {
  width: 50%;
  height: 100%;

  background-image: url('../images/contactUs-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form-right {
  padding: 60px 25px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #ca336b;
}

.contact-form-right h2 {
  margin: 20px 0px;
}

.contact-form-right label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.contact-form-right input,
textarea,
select {
  padding: 10px 5px;
  margin: 10px 0px;
  width: 70%;
  text-transform: capitalize;
}

.contact-form-right textarea {
  resize: none;
}

.contact-form-right button {
  padding: 10px 5px;
  border: none;
  color: white;
  background-color: #28166f;
  width: 95%;
}

/* Hide the number input spinner */
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0; /* Removes extra space */
}

/* -------------------------------------------------------------------------- */

/*TODO_________________________________ Gallery Page__________________________*/

/* -------------------------------------------------------------------------- */

.gallery {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.gallery-part-1 {
  text-align: center;
  height: 150vh;
  width: 100vw;
  margin-top: 5vh;
}

.gallery-part-1 h1 {
  font-weight: bolder;
  font-size: 4.5rem;

  /* padding: 1vw; */
}

.gallery-part-1 p {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  padding: 2vw 15vw;
}

.gallery-part-1 img {
  width: 70%;
  background-size: cover;
  background-position: center;
  height: fit-content;
  object-fit: cover;
}

.gallery-part-2 {
  width: 100vw;
  height: min-content;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  padding: 1vw 0;
}

.gallery-part-2 img {
  width: 25vw;
  /* height: 25vh; */
  object-fit: contain;
  object-position: center;
}

.gallery-part-2 img:nth-child(1) {
  margin-top: 5vw;
}

.gallery-part-2 img:nth-child(2) {
  margin-bottom: 5vw;
}

.gallery-part-2 img:nth-child(3) {
  margin-top: 5vw;
}

.gallery-part-2 img:nth-child(5) {
  margin-top: -5vw;
  padding-bottom: 5vw;
}

.gallery-part-2 img:nth-child(8) {
  margin-top: -5vw;
  padding-bottom: 5vw;
}

/* ..............Rseponsive part................ */
@media (max-width: 500px) {
  .gallery {
    padding: 20px;
  }
  .gallery-part-1 p {
    font-size: 18px;
    line-height: 1.2;
  }
}

.Event-page3 {
  height: 76vh;
  width: 100vw;
  flex-direction: column;
  margin-top: -4.5vh;
  gap: 20px;
  padding: 3vh 3vw;
  display: flex;
  background: linear-gradient(to bottom, #212028, #241f73);
  margin-bottom: 8vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.Event-page3 .Event-title {
  margin-top: 2vh;
}

.EventCard-Container {
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 8vh;
  position: relative;
  display: flex;
  padding: 0;
  z-index: 1;
}

.EventCard-Container .swiper-slide {
  width: 30vw;
  height: 43vh;
  position: relative;
  margin: 0px 1vw;
  transition: all ease-in-out 0.1s;
}

.card-heading-div {
  width: 100%;
  text-align: center;
  height: 6vh;
  background-color: red;
  position: absolute;
  bottom: 10%;
}

.EventCard-Container .card-heading-div {
  border: 2px solid white;
  bottom: 10%;
}

.EventCard-Container .Event-card:hover img {
  filter: grayscale(80%);
}

.Event-card img {
  width: 100%;

  height: 100%;
  object-fit: cover;
}

.Event-card .card-heading-div {
  width: 100%;
  height: 15%;
  transition: all ease-in 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  position: absolute;
  bottom: 10%;
}

.Event-card .card-Heading {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}

/* -------------------------------------------------------------------------- */

/*TODO_________________________________ fOOTER__________________________*/

/* -------------------------------------------------------------------------- */

footer {
  width: 100vw;
  height: 50vh;
  color: white;
  background-color: black;
}

.footer-connect {
  height: 10vh;
  width: 100%;
  font-size: 2rem;
  background-color: #28166f;
}
