/* .blue{

} */

.heading-primary {
  font-size: 2rem;
}

.heading-primary {
  font-size: 2rem;
}

.text-color-primary {
  color: #dd26a0;
}

.mt-2vh {
  margin-top: 7vh;
}

.text-color-secondary {
  color: #412fe4;
}

.text-color-white {
  color: white;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}
.justify-center {
  justify-content: center;
}

/* background */

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

/* text color */

.text-white {
  color: white;
}

.text-sm {
  font-size: 1.5rem;
}

.text-md {
  font-size: 2rem;
}

.text-xl {
  font-size: 2.5rem;
}

.text-2xl {
  font-size: 3rem;
}
